@import '../../vendor/scss/variables';
@import '../../vendor/scss/mixin';

.slideContainer__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

  @include tablet {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}

.slideContainer__wrap {
  position: relative;
  height: auto !important;
  margin-right: 50px;

  @include tablet {
    height: 50% !important;
    margin-right: 0;
  }

  @include mobile {
    height: 45% !important;
  }
}

.slideContainer__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slideContainer__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: min-content;
  overflow: hidden;

  @include tablet {
    max-width: 100%;
    flex-direction: row;
    margin: 10px 30px;
    max-height: 100%;
  }

  @include iphone5 {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @include mobile {
    margin: 10px 5px;
  }
}

.slideContainer__article {
  overflow: hidden;
  margin-bottom: 11px;

  @include tablet {
    align-self: flex-start;
  }
  @include iphone5 {
    margin-bottom: 0;
    overflow: scroll;
  }
}

.slideContainer__text {
  text-align: center;
  font-size: 16px;
  color: $text-color;
  font-family: $font-stack;
  font-weight: map-get($font-weights, light);

  @include mobile {
    font-size: 15px;
  }
}

.slideContainer__title {
  color: #fff;
  text-align: center;
  font-family: $font-stack;
  font-weight: map-get($font-weights, regular);
}
