@import "../../vendor/scss/variables";
@import '../../vendor/scss/mixin';

@mixin listStyle {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content
  }
};

@mixin animate($name, $time, $delayTime) {
  animation: $name $time $delayTime forwards;
}

.BurgerNav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  font-family: $font-stack;
  font-weight: map-get($font-weights, light );
  font-size: 17px;
  color: $text-color;
  @include listStyle;

  &:hover {
    @include keyframes(rotating) {
      from { transform: rotate(0);}
      to {transform: rotate(90deg);}
    }
    @include animate(rotating,.8s,0s);

    .BurgerNav__stick:nth-of-type(1) {
      @include keyframes(moving) {
        from {width: 35px}
        to {width: 20px;}
      }
      @include animate(moving,.3s,0s)
    }
    .BurgerNav__stick:nth-of-type(2) {
      @include keyframes(moving2) {
        from {width: 30px}
        to {width: 30px;}
      }
      @include animate(moving2,.3s,0s)
    }
    .BurgerNav__stick:nth-of-type(3) {
      @include keyframes(moving3) {
        from {width: 20px}
        to {width: 35px;}
      }
      @include animate(moving3,.3s,0s)
    }
  }
}

.BurgerNav__stick {
  margin: 2px 0px;
  cursor: pointer;
  width: 0;
  height: 4px;
  background-color: $text-color;
  @include keyframes(appearing) {
    from {width: 0;}
    to {width: 35px;}
  }
  @include animate(appearing, .3s, 0s);

  &:nth-of-type(2) {
    @include keyframes(appearing2) {
      from {width: 0;}
      to {width: 30px;}
    }
    @include animate(appearing2, .3s, .2s);
  }

  &:nth-of-type(3) {
    @include keyframes(appearing3) {
      from {width: 0;}
      to {width: 20px;}
    }
    @include animate(appearing3, .3s, .6s);
  }
}


.BurgerNav__menu {
  @include listStyle;
  @include flexCenter;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  top: 70px;
  right: 0px;
  left: 0px;
}
