@import "../../vendor/scss/variables";
@import "../../vendor/scss/mixin";

.Projects {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Projects__heading {
  @include heading;

  align-self: flex-end;
  text-align: right;
  line-height: 1;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
  white-space: nowrap;
  /* не переносить текст на другую строку */
  overflow: hidden;
  /* скрываем переполнение контентом */

  &::after {
    content: "Projects";
    letter-spacing: 0;
  }

  &:hover {
    color: rgba(224, 224, 224, 0.7);
    transition: 0.5s;
  }
}

.Projects__heading_animation {
  @include typingText;
  @include blinkCursor;
  animation: typingText 5s steps(30, end), blinkCursor 0.5s step-end 30;
  animation-fill-mode: forwards;
  border-right: 0.07em solid rgb(255, 255, 255);

  &::before {
    content: "{`Non-commercial projects`}";
    letter-spacing: 0.07em;
    font-style: italic;
  }

  &::after {
    content: "";
  }
}

// Управление слайдером

/* Стрелки слайдера */
.splide__arrow {
  width: 30px;
  height: 30px;
  background-size: contain;
}

.splide__arrow svg {
  width: 0px;
}

.splide__arrow--next {
  background-image: url("../../images/next-arrow.png");
  right: -35px;
}

.splide__arrow--prev {
  background-image: url("../../images/prev-arrow.png");
  left: -35px;
}

/* Навигация слайдера */
.splide__pagination__page.is-active {
  background: #0099d7;
}

.splide__pagination__page {
  width: 8px;
  height: 8px;
}

.splide__pagination {
  bottom: -20px;
}

/* Слайды */
.splide__slide {
  height: max-content;
  display: flex;
  height: 70vh;
  justify-content: space-between;
}

/* Изображения-слайды */
.splide__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

.splide__slide__container {
  position: relative;
  height: auto !important;
  margin-right: 50px;
}

/* Описания под слайдами */
.splide__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.splide__description_text {
  text-align: center;
  font-size: 16px;
  color: $text-color;
  font-family: $font-stack;
  font-weight: map-get($font-weights, light);
}

.splide__description_header {
  color: #fff;
  text-align: center;
  font-family: $font-stack;
  font-weight: map-get($font-weights, regular);
}

.button-wrap {
  margin: 0 auto;
  width: max-content;
  height: max-content;
  overflow: hidden;
  width: 100%;
  height: max-content;
}

.splide__button-wrap {
  display: flex;
  position: relative;
  height: 39px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  margin: 15px auto;
}

.splide__button_site {
  position: relative;
  background-color: transparent;
  width: 200px;
  height: 50px;
  border: 1px solid #0099d7;

  position: relative;
  z-index: 0;

  overflow: hidden;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
  transition: 0.3s ease-in-out;
  /* border: 1px solid transparent; */
  transform: scale(1);
  box-shadow: 0 0 0 0 rgba(#0099d7, 0.1);
  cursor: pointer;
  transition: .5s;
  color: #0099d7;



  /* &::before {
    content: "GO TO SITE";
    color: #0099d7;
    transition: .5s;
  } */
  
  &::after {
    content: '';
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transition: .2s;
  }
  
  &:hover {
    &::after {
      width: 210px;
      height: 210px;
      transition: .3s;
      background: #0099d7;
    }
  }
}

.splide__button_over {
  transition: 2s;
  color: #383838;
}

.splide__button_leave {
  color: #0099d7;
}