@import "../../vendor/scss/variables";
@import "../../vendor/scss/mixin";

.Projects {
  @include Section;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--primary-color);
}

.Projects__heading {
  @include heading;

  align-self: flex-end;
  text-align: right;
  line-height: 1;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
  white-space: nowrap;
  /* не переносить текст на другую строку */
  overflow: hidden;
  /* скрываем переполнение контентом */
}

// Управление слайдером

/* Стрелки слайдера */
.splide__arrow {
  width: 30px;
  height: 30px;
  background-size: contain;
  z-index: 0;

  @include mobile {
    width: 25px;
    height: 25px;
  }
}

.splide__arrow svg {
  width: 0px;
}

.splide__arrow--next {
  background-image: var(--next-arrow-slider);
  right: -35px;

  @include tablet {
    right: -25px;
  }
}

.splide__arrow--prev {
  background-image: var(--prev-arrow-slider);
  left: -35px;

  @include tablet {
    left: -25px;
  }
}

/* Навигация слайдера */
.splide__pagination__page.is-active {
  background: var(--main-color);

}

.splide__pagination__page {
  width: 8px;
  height: 8px;
  &:hover {
    background: var(--main-color);
    opacity: .7;
  }
}

.splide__pagination {
  bottom: -20px;
  z-index: 0;
}


.splide__list {
  height: max-content;
}

/* Слайды */
.splide__slide {
  display: flex;
  height: 450px !important;
  justify-content: space-between;

/*   @include tablet {
    min-height: min-content;
  }

  @include miniTablet {
   /*  max-height: 70vh;
  }
  @include mobile {
    max-height: fit-content;
  } */
}

/* Изображения-слайды */
.splide__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.splide__slide__container {
  position: relative;
  height: auto !important;
  margin-right: 50px;
}

/* Описания под слайдами */
.splide__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.splide__description_text {
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
  font-family: $font-stack;
  font-weight: map-get($font-weights, light);
}

.splide__description_header {
  color: #fff;
  text-align: center;
  font-family: $font-stack;
  font-weight: map-get($font-weights, regular);
}

.button-wrap {
  margin: 0 auto;
  width: max-content;
  height: max-content;
  overflow: hidden;
  width: 100%;
  height: max-content;
}

.splide__button-wrap {
  display: flex;
  position: relative;
  height: 39px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  margin: 15px auto;
}

.splide__button_site {
  position: relative;
  background-color: transparent;
  width: 200px;
  height: 50px;
  border: 1px solid var(--main-color);

  position: relative;
  z-index: 0;

  overflow: hidden;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
  transition: 0.3s ease-in-out;
  /* border: 1px solid transparent; */
  transform: scale(1);
  box-shadow: 0 0 0 0 rgba(var(--main-color), 0.1);
  cursor: pointer;
  transition: .5s;
  color: var(--main-color);



  /* &::before {
    content: "GO TO SITE";
    color: var(--main-color);
    transition: .5s;
  } */
  
  &::after {
    content: '';
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transition: .2s;
  }
  
  &:hover {
    &::after {
      width: 210px;
      height: 210px;
      transition: .3s;
      background: var(--main-color);
    }
  }
}

.splide__button_over {
  transition: 2s;
  color: #383838;
}

.splide__button_leave {
  color: var(--main-color);
}