.Popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #202020;
  z-index: 2;
  min-width: 320px;
  opacity: 0;
  display: block;
  visibility: hidden;
  transition: .3s;
}

.Popup_opened {
  visibility: visible;
  opacity: 0.8;
  transition: .5s;
}