@import "../../vendor/scss/mixin";
@import "../../vendor/scss/variables";

.BurgerNavigation__list {
  @include listStyle;
  @include flexCenter;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  max-width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px;
  max-height: fit-content;

  background-color: rgba($color: #424242, $alpha: 1.0);
  background-clip: content-box;

  animation: shadow 1s forwards;
}

@keyframes shadow {
  from {
    box-shadow: -2px 0px 0px 0px rgba(255, 255, 255, 1),
      2px 0px 0px 0px rgba(255, 255, 255, 1);
  }
  to {
    box-shadow: -80px -80px 0px -78px rgba(240, 240, 240, 0.815),
      80px 80px 0px -78px rgba(240, 240, 240, 0.815);
  }
}

.BurgerNavigation__item {
  color: $text-color;
  margin: 4px 0;
  padding: 3px 10px;
  text-align: center;
  border-bottom: 1px solid transparent;

  &:hover {
    @include activeItem;
    animation: activeItem 0.3s forwards;
  }


}
