@import '../../vendor/scss/mixin';
@import '../../vendor/scss/variables';

.BurgerNavigation__list {
  @include listStyle;
  @include flexCenter;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  top: 70px;
  right: 0px;
  left: 0px;
  cursor: pointer;
  max-width: 80%;
  margin: 0 auto;

}

.BurgerNavigation__item {
  color: $text-color;
  margin: 4px 0;
  padding: 3px 10px;
  width: 100%;
  text-align: center;
}