@import "../../vendor/scss/variables";
@import '../../vendor/scss/mixin';

.Navigation {
  @include flexCenter;
  flex-direction: row;
  font-family: $font-stack;
  font-weight: map-get($font-weights, light );
  font-size: 17px;
  margin: 0;
  list-style-type: none;
  color: $text-color;
}

.Navigation__item {
  padding: 0px 15px 0px 15px;
  cursor: pointer;

  &:last-child {
    padding-right: 0;
  }
}
