@import "../../vendor/scss/variables";
@import '../../vendor/scss/mixin';

.Navigation {
  @include flexCenter;
  flex-direction: row;
  font-family: $font-stack;
  font-weight: map-get($font-weights, light );
  font-size: 17px;
  margin: 0;
  list-style-type: none;
  color: $text-color;
}

.Navigation__item {
  margin: 0px 15px 0px 15px;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    @include activeItem;
    animation: activeItem .3s forwards;
  }

}


