@import "../../vendor/scss/variables";
@import '../../vendor/scss/mixin';

.Navigation {
  @include flexCenter;
  flex-direction: row;
  font-family: $font-stack;
  font-weight: map-get($font-weights, light );
  font-size: 17px;
  margin: 0;
  list-style-type: none;
  color: $text-color-second;
}

.Navigation__link {
  color: $text-color-second;
  text-decoration: none;
}

.Navigation__item {
  margin: 0px 15px 0px 15px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transition: .2s;
    color: $text-color;
    &::after {
      @include activeItem;
      animation: activeItem .3s forwards;
    }
  }

    &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
    
  }


}


