@import "../../../vendor/scss/variables";

.line-wrapper {
  max-width: $breakpoint-pc;
  margin: 0 auto;
  padding: 30px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  .line {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 153, 215, 0) 0%,#6c6c6c99 46%,  rgba(0, 153, 215, 0)93%);
  }

  .circle {
    visibility: hidden;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $main-color;
  }
}
