.line-wrapper {
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  .line {
    height: 2px;
    width: 70%;
    background: linear-gradient(
      90deg,
      rgba(0, 153, 215, 0) 0%,
      rgba(0, 153, 215, 0.6755077030812324) 46%,
      rgba(0, 153, 215, 1) 93%
    );
  }

  .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(0, 153, 215, 1);
  }
}
