@import "../../vendor/scss/variables";
@import "../../vendor/scss/mixin";

.Footer {
  width: 100%;
  transition: .7s;
}

.Footer_visible {
  background-color: #3e4248;
  transition: .7s;
}

.Contact {
  @include Section;
  padding: 30px 50px 20px 50px;
}

.Contact__heading {
  @include heading;
}

.Contact__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $font-stack;
  color: $text-color;
}

.Contact__list {
  padding: 0;
  font-weight: map-get($font-weights, light);

  &:nth-of-type(1) {
    margin-right: 10%;
  }
}

.Contact__list_wrap {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.Contact__text {
  position: relative;
  color: #aaa;

}

.Contact__link {
  text-decoration: none;
}

.Contact__item {
  position: relative;
  list-style-type: none;
  padding: 15px 0 5px 0;

  display: flex;
  align-items: center;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '.';
    color: transparent;
    background: #fff;
    height: 1px;
  }

  &:hover {
    .Contact__text {
      color: $text-color;
      transition: .2s;
    }
    .Contact__icon {
      color: #fff;
      transition: .2s;
    }
    &::after {
      width: 100%;
      @include activeItem;
      animation: activeItem .3s forwards;
    }

  }

  cursor: pointer;
}

.Contact__icon {
  color: #aaa;
  width: 30px !important;
  height: 30px;
  margin-right: 10px;
  transition: .2s;
}

.Contact__info {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
}
