
@import "../../vendor/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
@import '../../vendor/scss/mixin';


.Header {
  padding: 10px 20px 10px 20px;
  width: 100%;
  @include flexCenter;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.Header__name {
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: map-get($font-weights, bold);
  color: $text-color;
  margin: 0;
}