
@import "../../vendor/scss/variables";
@import '../../vendor/scss/mixin';
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap');


.Header {
  padding: 10px 0;
  width: 100%;
  @include flexCenter;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.Header__name {
  font-family: 'Saira Condensed', Arial, sans-serif;
  font-weight: map-get($font-weights, bold);
  color: $text-color;
  margin: 0;
}