@import "../../vendor/scss/variables";
@import "../../vendor/scss/mixin";

.Experience {
  @include Section;
}

.Experience__heading {
  @include heading;
  align-self: flex-end;
  text-align: right;
  line-height: 1;
  margin-bottom: 20px;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

.Experience__block {
  position: relative;
  max-width: max-content;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;

  color: var(--text-color);
  
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: max-content max-content;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  &:nth-of-type(1) {
    .Experience__icon-block {
      flex-direction: column-reverse;
    }
  }

  &:nth-last-of-type(1) {
    margin-bottom: 0px;
  }

  &:hover {
    transition: 1s;
    .Experience__information {
    border-image: linear-gradient(to right, rgba(0, 153, 215, 0) 0%,#6c6c6c99 46%,  rgba(0, 153, 215, 0)93%);
    border-image-slice: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: #be3c3c99;
    border-radius: 50%;
    height: 100%;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
}

.Experience__dates-block {
  @include pStyle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
 
  max-width: max-content;
  font-size: 14px;
}

.Experience__dates{
  @include pStyle;
}

.Experience__company {
  @include pStyle;
  color: var(--heading-color);
}

.Experience__position {
  @include pStyle;
}


.Experience__description {
  grid-column: 1 / 4;
  box-sizing: border-box;

  background-color: var(--background-text-block);
  border-radius: 5px;
  font-size: 14px;
  height: max-content;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  height: 0;

  &_active {
    padding: 10px;
    visibility: visible;
    opacity: 1;
    transition:.3s;
    height: 100%;
  }
}

.Experience__icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  margin: 0 auto;

 
}

.Experience__icon {
  transition: .2s;
  width: 25px !important;
  height: 25px;
  color: var(--main-color);
}

.Experience__list {
  @include listStyle;
  list-style-type: circle;
  margin-left: 20px;
  margin-bottom: 10px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.Experience__list_name {
  font-weight: map-get($font-weights, $key: semi-bold);
}