@import "../../vendor/scss/variables";
@import "../../vendor/scss/mixin";

.Experience {
  @include Section;
}

.Experience__heading {
  @include heading;
  align-self: flex-end;
  text-align: right;
  line-height: 1;
  margin-bottom: 20px;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

.Experience__block {
  position: relative;

  width: 50%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;

  color: var(--text-color);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:nth-of-type(1) {
    .Experience__icon-block {
      flex-direction: column-reverse;
    }
  }

  &:nth-last-of-type(1) {
    margin-bottom: 0px;
  }

  @include netbook {
    width: 80%;
  }

  @include tablet {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }
}


.Experience__information {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 1px;
    left: -10px;
    background-color: var(--text-color);
    opacity: .5;
    @include activeItemV;
  }

  &_not-active {
    @media (hover: hover) { 
      &:hover {
        &::before {
          animation: activeItemV .3s forwards;
        }
      }
    }
  }
}

.Experience__dates-block {
  @include pStyle;
  width: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
 
  font-size: 14px;

  @include tablet {
    align-items: flex-start;
  }

  @include mobile {
    width: 80px;
  }
}

.Experience__dates{
  @include pStyle;
}

.Experience__company {
  @include pStyle;
  color: var(--heading-color);

  @include tablet {
    font-size: 16px;
  }
}

.Experience__position {
  @include pStyle;

  @include tablet {
    font-size: 15px;
  }
}


.Experience__description {
  position: relative;
  height: 0;
  visibility: hidden;
  opacity: 0;

  box-sizing: border-box;

  background-color: var(--background-text-block);
  border-radius: 10px;

  font-size: 14px;
  transition: .3s;

  &_active {
    padding: 10px;
    visibility: visible;
    opacity: 1;
    transition:.3s;
    height: 100%;
  } 
}

.Experience__icon-block {
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Experience__icon {
  width: 25px !important;
  height: 25px;
  color: var(--main-color);
  transition: .2s;
}

.Experience__list {
  @include listStyle;
  list-style-type: circle;
  margin-left: 20px;
  margin-bottom: 10px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.Experience__list_name {
  font-weight: map-get($font-weights, $key: semi-bold);
}

.Experience__job {
  display: flex;
  flex-direction: column;
  width: 250px;

  @include tablet {
    width: 220px;
  }
}