
@import "./vendor/scss/variables";
@import './vendor/scss/mixin';

.App {
  background-color: $primary-color;
  font-family: $font-stack;
  font-weight: map-get($font-weights, $key: regular);
  @include flexCenter;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 50px;
}

body {
  background-color: $primary-color;

}